
tr,td {line-height: 130%; }
body
{
margin-top: 2em;
margin-bottom: 2em;
margin-left: 5em;
margin-right: 5em;
color: #333333;
line-height: 1.3em;
}
table{
border-collapse:collapse;
}
tr,td {
line-height: 150%;
}
a {
text-decoration: none;
}
h1{
font-size:1.2em;
font-weight:bold;
border-bottom: #000000 2px solid;
margin-bottom:0.5em;
}
h2{
font-size:1em;
font-weight:bold;border-bottom: #bbbbbb 1px solid;
margin-top:2em;
margin-bottom:0.5em;
}
h3{
font-size:1em;
margin-left:2em;
font-weight:bold;border-bottom: #bbbbbb 1px dashed;
margin-top:2em;
font-weight:bold;margin-bottom:0.5em;
}
p{
margin-left:2em;
}
#map{
}

#footer {
  text-align: right;
  margin-top: 1em;
}
